<div>
    <h1>Carrito de compras</h1>
    <p>ID del carrito: {{cart._id}}</p>
    {{#if cart.products.length}}
        <div>
            <h2>Productos en el carrito:</h2>
            <ul>
                {{#each cart.products}}
                    <li>
                        <h3>{{this.productId.title}}</h3>
                        <p>Precio: ${{this.productId.price}}</p>
                        <p>Cantidad: {{this.quantity}}</p>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <button id="checkout">Finalizar compra</button>
        </div>
    {{else}}
        <p>Carrito vacío</p>
    {{/if}}
</div>