<div>
  <div>
  <p>Bienvenido!</p>
  <p>{{user.name}} {{#if isAdmin}}<p>Admin ✅</p>{{/if}}</p>
  <p>{{user.email}}</p>
  </div>
  <button id="yourProfile">Tu perfil</button>
  <h1>Listado de productos</h1>
  <ul>
    {{#each products.products}}
    <li>
      <!-- Agregar IMG -->
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>Precio: ${{this.price}}</p>
      <button class="addToCart" data-id={{this._id}}>Agregar al carrito</button>
    </li>
    {{/each}}
  </ul>
  <div>
    {{#if products.hasPrevPage}}
    <a href="{{products.prevLink}}">Anterior</a>
    {{/if}}
    
    <span>Página {{products.page}} de {{products.totalPages}}</span>
      
    {{#if products.hasNextPage}}
      <a href="{{products.nextLink}}">Siguiente</a>
    {{/if}}
  </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
<script src="/js/addToCart.js"></script> 
<script src="/js/yourProfile.js"></script>