<div id="profile-container">
        <h1 class="profile-title">Your profile</h1>

        <img id="profile-big-img" src="{{imageUrl}}" alt="profile-img">

        <p class="profile-info">
            {{user.name}}{{user.first_name}}
            {{#if isAdmin}}
                <span class="admin-badge">Admin ✅</span>
            {{/if}}
        </p>
        <p class="profile-info">Email: {{user.email}}</p>
        <p class="profile-info">Age: {{user.age}}</p>

        <a href="/products"><button class="profile-button">Back to Home</button></a>
        <a href="/api/sessions/logout">
            <button class="profile-button">Sign off</button>
        </a>
</div>

    {{#if isAdmin}}
        <div class="admin-tools">
            <h3>ADMIN TOOLS</h3>
            <button class="admin-button"><a href="/updateOrDeleteUser">USERS CONTROL</a></button>
        </div>
    {{/if}}

<style>
#profile-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 1rem;
}

.profile-title {
    font-size: 33px;
    margin: 0 0 20px;
}

#profile-big-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px 0;
}

.profile-info {
    margin: 10px 0;
}

.admin-badge {
    color: green;
    font-weight: bold;
    margin-left: 10px;
}

.profile-button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 10px 0;
}

.profile-button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.admin-button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 10px 0;
}

.admin-button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

</style>

<script>
  const profileImg = document.getElementById("profile-big-img");

  profileImg.src = "{{imageUrl}}";

  profileImg.onload = function() {
  };

  profileImg.onerror = function() {
    profileImg.src = "{{fileName}}";
  };
</script>